.header {
    width: 100%;
    height: 500px;
    background-image: url('../../assets/images/banner.png');
    background-color: #0a1668;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}